<div class="dialog-container">
    <div class="accent-box top"></div>
    <div class="container-body">
        <div class="content">
            <h1>
                No cards found
            </h1>
            <h2>
                You haven&apos;t created any cards yet.
            </h2>
            <p>
                Get started by {{#link-to "cards.new"}}creating a new card{{/link-to}} 
                or {{#link-to "cards.import"}}importing existing cards{{/link-to}}.
            </p>
        </div>
    </div>
    <div class="accent-box bottom"></div>
</div>
