<div class="stat-entry range">
    <div class="label">{{label}}</div>
    <div class="stat-value max">{{basic-stat-value maxValue}}</div>
    <div class="stat-value min">{{basic-stat-value minValue}}</div>
</div>
<!-- TODO Click to edit -->
