.import-view {
    cursor: default;
    @dialog-width: 400px;
    .import {
        position: absolute;
        padding: 18px 20px 20px 20px;
        top: 90px;
        left: 280px;
        width: @dialog-width;
        // height: 0px;
        background-color: @dv-c-background;
        border: @dv-c-body solid 2px;
        h2 {
            border-color: @dv-c-muted-separator;
            border-width: 0 0 1px 0;
            border-style: solid;
            padding: 0 0 8px 10px;
        }

        .select-file {
            margin: 4px 0 20px 0;
            p {
                padding: 0 0 10px 0;
            }
            input[type="file"] {
                display: none;
            }
            .card-upload-btn {
                padding: 8px 12px;
                .fa {
                    padding-right: 8px;
                }
            }
        }

        .error {
            display: block;
            border: #cd2020 solid 2px;
            .icon {
                color: #cd2020;
                float: left;
                font-size: 30px;
                padding: 4px 10px 4px 8px;
            }
            .content {
                padding: 4px;
                display: block
            }
        }

    }

    .accent-box {
        background-color: @dv-c-background;
        border-color: @dv-c-body;
        border-style: solid;
        width: @dialog-width * 0.844;
        height: 3px;
        padding: 0;
        margin: auto;
        margin-left: @dialog-width * 0.07;
    }

    .accent-box.top {
        border-width: 1px 1px 0 1px;
        position: absolute;
        top: -6px;
    }

    .accent-box.bottom {
        border-width: 0 1px 1px 1px;
        position: absolute;
        bottom: -6px;
    }

}