.narrow-warning {
    display: none;
}

@media(max-width: 1000px) {
    .narrow-warning {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        color: #cd2020;
        font-size: 24px;
        text-align: center;
        font: @dv-f-lato;
        font-weight: bold;
        background-color: @dv-c-background;
        border-width: 0 0 2px 0;
        border-color: #cd2020;
        border-style: solid;
        p {
            .no-margin;
            padding: 20px 0 0 0;
        }
    }
}

@dv-c-muted-separator: #35383a;

.statcard-view {
    cursor: default;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -500px;
    float: right;

    .header {
        height: 40px;
        border-color: @dv-c-muted-separator;
        border-width: 0 0 1px 0;
        border-style: solid;
        p {
            font-family: @dv-f-lato;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            color: @dv-c-foreground;
            letter-spacing: 0.2em;
            padding: 8px 0 0 0;
            .no-margin;
        }
    }

    .idle-fade {
         background: linear-gradient(to right, #131315 0%,#131315 95%,#0e0e0e 100%);
    }

    .stat-card-tools {
        .no-select;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 80px;
        .idle-fade;

        .tool-list {
            text-align: center;

            .toolbutton {
                border: none;
                background: none;
                color: @dv-c-body;
                .no-pad;
                
                &:hover {
                    color: @dv-c-accent-2;
                }
            }
        }
        
        .dialog-dimmer {
            z-index: 40;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
        }

        .confirm-dialog {
            text-align: left;
            position: fixed;
            z-index: 50;

            h2 {
                margin: 4px 0 8px 0;
            }

            .button-hbox {
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                text-align: center;

                button {
                    width: 140px;
                    margin: 0 10px;
                }

                .confirm-action {
                    border-color: #cd2020;
                    color: #cd2020;
                    &:hover {
                        background-color: #cd2020;
                        border-color: #cd2020;
                        font-weight: bold;
                        color: @dv-c-background;
                    }
                }
            }
        }
    }

    .stat-card {
        position: absolute;
        top: 0;
        left: 200px;
        width: 800px;
        height: 500px;
        background-color: @dv-c-background;
        overflow: hidden;

        .content {
            padding: 18px 20px 20px 20px;

            .header-box {
                border-color: @dv-c-muted-separator;
                border-width: 0 0 1px 0;
                border-style: solid;
                padding-bottom: 6px;
                .class-icon {
                    width: 60px;
                    height: 60px;
                    transform: translate(0, -5px);
                    float: left;
                    margin-right: 10px;
                }

                h1 {
                    font-size: 32px;
                    letter-spacing: 0.3em;
                }
                h2 {
                    margin-top: -2px;
                    font-family: @dv-f-lato;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.4em;
                    color: @dv-c-idle;
                }
            }
        }

        .footer-tip {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 20px;
            color: @dv-c-disabled;
        }
    }

    .card-list-panel {
        .no-select;
        position: absolute;
        top: 90px;
        left: 0;
        width: 200px;
        overflow: hidden;
        .idle-fade;

        .card-list-scroller {
            width: 220px;
            max-height: 304px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        ul {
            list-style: none;
            .no-margin;
            .no-pad;
            font-family: @dv-f-lato;
            li {
                width: 200px;
                height: 40px;
                overflow: hidden;
                border-width: 0 0 0 4px;
                border-style: solid;
                border-color: @dv-c-idle;
                transition: border-color 0.25s ease-out;
                user-select: none;
                cursor: pointer;
                text-transform: uppercase;
                background: linear-gradient(to right, #09090a 0%,#09090a 95%,#040404 100%);
                &:hover {
                    .idle-fade;

                    .class-icon {
                        filter: saturate(50%);
                        opacity: 0.75;
                    }
                }

                .class-icon {
                    width: 26px;
                    height: 26px;
                    float: left;
                    padding: 7px;
                    filter: saturate(0%);
                    opacity: 0.5;
                    transition: opacity 0.25s linear;
                }
                h1 {
                    color: @dv-c-body;
                    font-size: 16px;
                    padding-top: 5px;
                    letter-spacing: 0;
                    font-weight: normal;
                    text-overflow: ellipsis;
                    transition: color 0.25s linear;
                }
                h2 {
                    color: @dv-c-disabled;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: normal;
                    transition: color 0.125s linear;
                }

                &:hover {                    
                    border-color: @dv-c-accent-2;
                }
            }

            .active > li {
                border-color: @dv-c-accent-2;
                background: none;
                h1 {
                    color: @dv-c-foreground;
                }
                h2 {
                    color: @dv-c-accent-1;
                }
                .class-icon {
                    filter: saturate(100%);
                    opacity: 1.0;
                }
            }

            .add-card-entry {
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                padding-top: 10px;
                .no-margin;
                color: @dv-c-accent-1;
            }
        }
    }

}
