.narrow-warning {
    display: none;
}

@media(max-width: 1000px) {
    .narrow-warning {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        color: #cd2020;
        font-size: 24px;
        text-align: center;
        font: @dv-f-lato;
        font-weight: bold;
        background-color: @dv-c-background;
        border-width: 0 0 2px 0;
        border-color: #cd2020;
        border-style: solid;
        p {
            .no-margin;
            padding: 20px 0 0 0;
        }
    }
}

@dv-c-muted-separator: #35383a;

.statcard-view {
    cursor: default;
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -500px;
    float: right;

    .header {
        height: 40px;
        border-color: @dv-c-muted-separator;
        border-width: 0 0 1px 0;
        border-style: solid;
        p {
            font-family: @dv-f-lato;
            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            color: @dv-c-foreground;
            letter-spacing: 0.2em;
            padding: 8px 0 0 0;
            .no-margin;
        }
    }

    .idle-fade {
         background: linear-gradient(to right, #131315 0%,#131315 95%,#0e0e0e 100%);
    }
        
    .dialog-dimmer {
        z-index: 40;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        .fade-in(0.5s);
    }

    .stat-card-tools {
        .no-select;
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 80px;
        .idle-fade;

        .tool-list {
            text-align: center;

            .toolbutton {
                border: none;
                background: none;
                color: @dv-c-body;
                .no-pad;
                
                &:hover {
                    color: @dv-c-accent-2;
                }
            }
        }

        .confirm-dialog {
            text-align: left;
            position: fixed;
            z-index: 50;

            h2 {
                margin: 4px 0 8px 0;
            }

            .button-hbox {
                position: absolute;
                bottom: -12px;
                left: 0;
                right: 0;
                text-align: center;

                button {
                    width: 140px;
                    margin: 0 10px;
                }

                .confirm-action {
                    border-color: #cd2020;
                    color: #cd2020;
                    &:hover {
                        background-color: #cd2020;
                        border-color: #cd2020;
                        font-weight: bold;
                        color: @dv-c-background;
                    }
                }
            }
        }
    }

    .stat-card {
        position: absolute;
        top: 0;
        left: 200px;
        width: 800px;
        height: 500px;
        background-color: @dv-c-background;
        overflow: hidden;

        .content {
            padding: 18px 20px 20px 20px;

            .edit-input {
                border: none;
                border-bottom: 1px transparent solid;
                transition: border-color 0.125s ease-in, color 0.125s ease-in;
                &:hover {
                    border-bottom: 1px fadeout(@dv-c-foreground, 70%) solid;
                }
                &:focus {
                    border-bottom: 1px @dv-c-foreground solid;
                }
            }

            .edit input {
                .edit-input;
            }

            .header-box {
                border-color: @dv-c-muted-separator;
                border-width: 0 0 1px 0;
                border-style: solid;
                padding-bottom: 6px;
                .class-icon {
                    width: 60px;
                    height: 60px;
                    transform: translate(0, -5px);
                    float: left;
                    margin-right: 10px;
                    .edit-input;
                }

                .edit.charname input {
                    font-size: 32px;
                    letter-spacing: 0.3em;
                    max-width: 450px;
                    text-overflow: ellipsis;
                    background: transparent;
                    font-family: @dv-f-geomanist;
                    color: @dv-c-foreground;
                    text-transform: uppercase;
                    .no-pad;
                    .no-margin;
                }
                .edit.level {
                    overflow: hidden;
                    input[type='number'] {
                        -moz-appearance:textfield;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                    input {
                        font-family: @dv-f-lato;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0.4em;
                        color: @dv-c-idle;
                        background: transparent;
                        .no-pad;
                        .no-margin;
                        width: 42px;
                        &:hover,
                        &:focus {
                            color: @dv-c-foreground;
                        }
                    }
                }
                .edit.clazz {
                    font-family: @dv-f-lato;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.4em;
                    color: @dv-c-idle;
                    background: transparent;
                    .no-pad;
                    .no-margin;
                    .edit-input;
                    &:hover {
                        color: @dv-c-foreground;
                    }
                }
                h2 {
                    font-family: @dv-f-lato;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: 0.4em;
                    color: @dv-c-idle;
                }
                .moddate {
                    position: absolute;
                    top: 34px;
                    right: 20px;
                    font-family: @dv-f-lato;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0.2em;
                    color: @dv-c-accent-1;
                    text-align: right;
                }
                .edit.description input {
                    position: absolute;
                    top: 56px;
                    right: 20px;
                    font-family: @dv-f-lato;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0.2em;
                    color: @dv-c-accent-1;
                    text-transform: uppercase;
                    text-align: right;
                    background: transparent;
                    width: 380px;
                    .no-pad;
                    .no-margin;
                    &:hover,
                    &:focus {
                        color: @dv-c-foreground;
                    }
                }
            }

            .stat-column {
                float: left;
                width: 365px;
                &.left {
                    margin-right: 30px;
                }
                margin-top: 15px;

                .divider {
                    width: 100%;
                    height: 0;
                    border-color: @dv-c-muted-separator;
                    border-width: 0 0 1px 0;
                    border-style: solid;
                }

                .statgroup {
                    padding: 15px 10px;

                    h3 {
                        font-size: 16px;
                        font-family: @dv-f-lato;
                        font-weight: 600;
                        letter-spacing: 0.4em;
                        color: @dv-c-accent-2;
                    }
                }

                
            }

            .branding {
                width: 292px;
                height: 31px;
                position: absolute;
                bottom: 40px;
                right: 60px;
            }
        }

        .footer-tip {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-left: 20px;
            color: transparent;
            transition: color 0.125s ease-in;
        }
        &:hover {
            .footer-tip {
                color: @dv-c-body;
            }
        }
    }

    .card-list-panel {
        .no-select;
        position: absolute;
        top: 90px;
        left: 0;
        width: 200px;
        overflow: hidden;
        .idle-fade;

        .card-list-scroller {
            width: 220px;
            max-height: 304px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        ul {
            list-style: none;
            .no-margin;
            .no-pad;
            font-family: @dv-f-lato;
            li {
                width: 200px;
                height: 40px;
                overflow: hidden;
                border-width: 0 0 0 4px;
                border-style: solid;
                border-color: @dv-c-idle;
                transition: border-color 0.25s ease-out;
                user-select: none;
                cursor: pointer;
                text-transform: uppercase;
                white-space: nowrap;
                background: linear-gradient(to right, #09090a 0%,#09090a 95%,#040404 100%);
                &:hover {
                    .idle-fade;

                    .class-icon {
                        filter: saturate(50%);
                        opacity: 0.75;
                    }
                }

                .class-icon {
                    width: 26px;
                    height: 26px;
                    float: left;
                    padding: 7px;
                    filter: saturate(0%);
                    opacity: 0.5;
                    transition: opacity 0.25s linear;
                }
                h1 {
                    color: @dv-c-body;
                    font-size: 16px;
                    padding-top: 5px;
                    letter-spacing: 0;
                    font-weight: normal;
                    text-overflow: ellipsis;
                    transition: color 0.25s linear;
                }
                h2 {
                    color: @dv-c-disabled;
                    font-size: 12px;
                    letter-spacing: 0;
                    font-weight: normal;
                    text-overflow: ellipsis;
                    transition: color 0.125s linear;
                }

                &:hover {                    
                    border-color: @dv-c-accent-2;
                }
            }

            .active > li {
                border-color: @dv-c-accent-2;
                background: none;
                h1 {
                    color: @dv-c-foreground;
                }
                h2 {
                    color: @dv-c-accent-1;
                }
                .class-icon {
                    filter: saturate(100%);
                    opacity: 1.0;
                }
            }

            .add-card-entry {
                font-size: 16px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                padding-top: 10px;
                .no-margin;
                color: @dv-c-accent-1;
            }
        }
    }

    .class-select-dialog {
        text-align: left;
        position: fixed;
        z-index: 50;
        @dialog-width: 1000px;
        @dialog-height: 600px;
        width: @dialog-width;
        height: @dialog-height;
        margin: -(@dialog-height / 2) 0 0 -(@dialog-width / 2);

        .container-body {
            width: @dialog-width;
            height: @dialog-height - 10px;
            background-color: @dv-c-background;
        }
        .accent-box {
            width: @dialog-width * 0.844;
        }

        h2 {
            margin: 4px 0 8px 0;
        }

        .class-list-list {
            margin-top: 20px;
            .class-listing {
                float: left;
                width: @dialog-width / 4 - 8 * 4;
                margin: 0 11px;
                height: (@dialog-height - 100) / 2;
                ul {
                    .no-pad;
                    .no-margin;
                }
                .class-list-entry {
                    list-style: none;
                    margin: 12px 4px;
                    .class-icon {
                        width: 24px;
                        height: 24px;
                        float: left;
                        opacity: 0.5;
                        transition: opacity 0.25s linear;
                        margin-right: 12px;
                    }
                    h4 {
                        text-align: left;
                        color: @dv-c-accent-1;
                        font-family: @dv-f-lato;
                        font-size: 18px;
                        letter-spacing: 0.1em;
                        font-weight: normal;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        transition: color 0.125s linear;
                    }

                    &:hover {
                        .class-icon {
                            filter: saturate(100%);
                            opacity: 1.0;
                        }
                        h4 {
                            color: @dv-c-foreground;
                        }
                    }
                }
            }
        }

        .header-split {
            border-width: 1px 0 0 0;
            border-color: @dv-c-idle;
            border-style: solid;
            text-align: center;
            margin-top: 8px;
            margin-bottom: -8px;
            h3 {
                text-align: center;
                transform: translate(0, -10px);
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0.2em;
                span {
                    background-color: @dv-c-background;
                    color: @dv-c-idle;
                    .no-pad;
                    .no-margin;
                    padding-left: 4px;
                }
            }
        }

        .button-hbox {
            position: absolute;
            bottom: -12px;
            left: 0;
            right: 0;
            text-align: center;

            button {
                width: 140px;
                margin: 0 10px;
            }
        }
    }
}
