<div class="stat-card-tools">
    <div class="header">
        <p>Tools</p>
    </div>
</div>
<div class="stat-card">
    <div class="content">
        <div class="header-box">
            <img class="class-icon" src="https://static.divinitor.com/site/common/classicons/small/blue/{{model.characterClassId}}.png" />
            <h1>{{model.characterName}}</h1>
            <h2>L{{model.level}} {{format-class model.characterClassId}}</h2>
        </div>
    </div>
</div>
