<div class="import-view">
    <div class="import"> 
        <h2><i class="fa fa-upload"></i> Import Statcard</h2>
        <p>
            Load a DVSTATCARD file
        </p>

        <p>
            To import stats from a build on spacem&apos;s <a href="https://spacem.github.io/dngearsim/">dngearsim</a>, 
            click the &quot;Export to Divinitor Statcard&quot; button in the gearsim.
        </p>
    </div>
</div>